# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=17d78af7-9e24-4932-8a0a-7d7bc466a56f

    # Set to true to disable all reporting
    B:opt-out=false
}


